* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 4em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 10px 0;
    font-size: 1.1em;
}

li {
    display: inline;
    padding: 10px;
    color: white;
}

nav, .footer {
    background-color: black;
    opacity: .9;
    width: 100%;
}

header {
    background: url(/static/img/header.jpg);
    background-size:cover;
    margin-bottom: 30px;
    background-position:center;
}


.main-header {
    padding: 150px 20px 100px 20px;
}

.header-background {
    background-color: black;
    opacity: .9;
    padding: 40px 0;
}

a {
    color: #0085A1;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: #AD2A1A;
}

.nav {
    float:right;
}

.navbar-custom {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    font-weight: bold;
}
.navbar-custom .navbar-header .navbar-toggle {
    color: #777;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 12px;
}
.navbar-custom .nav li a {
    text-transform: uppercase;
}

content {
    flex:1;
}

.post-heading {
    margin-bottom: 5px;
    border-bottom: 1px solid #000;
    position: relative;
}

.post-title {
    font-size: 24px;
    font-weight: bold;
}

.post-social {
    position:absolute;
    right: 0px;
    bottom: 0px;
}

.post-author {
    color: #999;
    margin-left:10px;
}

.post-content {
    margin:10px;
}

.postbody {
    padding:20px 0;
}

.comment-info {
    color: #999;
    margin-bottom: 5px;
}

.home-body {
    padding: 10px 0 0 0;
}

.submit-post {
    width: 100%;
}

.profile-section {
    padding-bottom: 20px;
}

.profile-body {
    margin: 15px;
}

.footer-info {
    margin: 0;
    height: 100px
    text-align: center;
}

.entry-form {
    padding:0 0 20px 0;
    margin-left: 10px;
}

.error {
    color: #aa6708;
}

.main-body{
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

@media (max-width: 550px) {
    .hello {
        display:none;
    }
}
