<!DOCTYPE html>
<html>
<head>
    <link type="text/css" rel="stylesheet" href="/static/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="/static/main.css" />
    <script src="https://use.fontawesome.com/762411fe70.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
    <title>My blog</title>
</head>
<body>
    <header class="text-center"><h1><a href="/">This is my blog</a></h1>
    {% if username %}
        Hi, {{username}}! | <a href="/newpost">create new post</a> | <a href="/logout">log out</a>
    {% else %}
        <a href="/login">log in</a>
    {% endif %}
    </header>

    <div id="container">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>