<!DOCTYPE html>
<html>
<head>
    <link type="text/css" rel="stylesheet" href="/static/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="/static/main.css" />
    <script src="/static/jquery.min.js"></script>
    <script src="/static/fontawesome.js"></script>
    <title>My blog</title>
</head>
<body>
    <div class="main-body">
        <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
            <div class="container-fluid">
                <ul class="nav">
                    {% if username %}
                        <li class="hello">Hi, {{username}}!</li>
                        <li><a href="/profile">profile</a></li>
                        <li><a href="/newpost">create new post</a></li>
                        <li><a href="/logout">log out</a></li>
                    {% else %}
                        <li><a href="/login">log in</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>

        <header class="text-center main-header">
            <div class="header-background col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2">
                <h1 class="title"><a href="/">Best blog ever</a></h1>
            </div>
        </header>

        <content class="container">
            <div class="row">
                {% block content %}
                {% endblock %}
            </div>
        </content>
        <footer class="container footer">
            <div class="row">
                <div class="col-xs-12 col-md-8 col-md-offset-2 ">
                    <ul class="footer-info">
                        <li><a href="https://www.github.com/asuozzo"><i class="fa fa-github"></i> github</a></li>
                        <li><a href="https://www.twitter.com/asuozzo"><i class="fa fa-twitter"></i> twitter</a></li>
                    </ul>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>