{% extends "base.html" %}

{% block content %}
    <div class="col-xs-12 col-md-8 col-md-offset-2">
        <div class="postbody">
            {{post.render() | safe}}
        </div>
        <div>
            0 <i class="fa fa-thumbs-up" aria-hidden="true"></i>
        </div>
        <div>
            {{commentcount}} <i class="fa fa-comments" aria-hidden="true"></i>
            <h4>Comments</h4>
            <form method="post">
                <textarea name="comment">{{comment}}</textarea>
                <div>{{error}}</div>
                <input type="submit">
            </form>
            {% for c in comments %}
                {{ c.render() | safe}}
            {% endfor %}
        </div>
    </div>
{% endblock %}