{% extends "base.html" %}

{% block content %}
    <div class="col-xs-12 col-md-8 col-md-offset-2">
        <div class="postbody">
            {{post.render() | safe}}
        </div>
        <div>
            <form method="post">
                {% if post.author != username %}
                    {% if not userliked %}
                    <button type="submit" name="submit" value="like">Like this post</button>
                    {% else %}
                    <button type="submit" name="submit" value="unlike">Unlike this post</button>
                    {% endif %}
                {% else %}
                    <a href="{{post.key.integer_id()}}/edit">Edit post</a> | <a href="{{post.key.integer_id()}}/delete">Delete post</a>
                {% endif %}
                <h4>Comments</h4>
                <textarea name="comment">{{comment}}</textarea>
                <div>{{error}}</div>
                <button type="submit" name="submit" value="comment">Submit</button>
            </form>
            {% for c in comments %}
                {{ c.render() | safe}}
            {% endfor %}
        </div>
    </div>
{% endblock %}