<div class="post">
  <div class="post-heading">
    <div class="post-title">
      {{p.subject}}
    </div>
    <div class="post-social">
      <i class="fa fa-thumbs-up" aria-hidden="true"></i> {{p.likecount}}&nbsp;&nbsp;&nbsp;<i class="fa fa-comments" aria-hidden="true"></i> {{p.commentcount}}
    </div>
  </div>
  <div class="post-info">
    {{p.created.strftime("%b %d, %Y")}}
  </div>

  <div class="post-content">
    {{p._render_text | safe}}
  </div>
   <div class="post-author">By {{p.author}}</div>

</div>
