{% extends "base.html" %}

{% block content %}
<div class="col-xs-12 col-md-8 col-md-offset-2">
    <h2>Welcome, {{username}}!</h2>

    <div class="profile-posts profile-section">
        <div class="post-heading">
            <div class="post-title">Your posts</div>
        </div>
        <div class="profile-body">
            {% for b in blogs %}
            <h4><a href="/{{b.key.integer_id()}}">{{b.subject}}</a></h4>
            <div class="profile-post">{{b.content | truncate(300) }}</div>
            <a href="/{{b.key.integer_id()}}/edit">Edit</a> | <a href="/{{b.key.integer_id()}}/delete">Delete</a>
            <hr>
            {% endfor %}
        </div>

    </div>

    <div class="profile-comments profile-section">
        <div class="post-heading">
            <div class="post-title">Your comments</div>
        </div>
        <div class="profile-body">
            {% for c in comments %}
            <div class="comment">"{{c.comment | truncate(300) }}"</div>
            <div class="post-info">on post <a href="/{{c.bloglink}}">{{c.blogtitle}}</a></div>
            <a href="">Edit</a> | <a href="">Delete</a>
            <hr>
            {% endfor %}
        </div>
    </div>

    <div class="profile-likes profile-section">
        <div class="post-heading">
            <div class="post-title">Posts you've liked</div>
        </div>
        <div class="profile-body">
            {% for l in likes %}
            <div><a href="/{{l.bloglink}}">{{l.blogtitle}}</a></div>
            {% endfor %}
        </div>
    </div>

</div>

{% endblock %}