{% extends "base.html" %}

{% block content %}
<div class="col-xs-12 col-md-8 col-md-offset-2">
    <h2>Welcome, {{username}}!</h2>

    <h3>Your posts</h3>
    {% for b in blogs %}
    <div><h5><a href="/{{b.key.integer_id()}}">{{b.subject}}</a></h5><a href="/{{b.key.integer_id()}}/edit">Edit</a> | <a href="/{{b.key.integer_id()}}/delete">Delete</a></div>
    {% endfor %}

    <h3>Your comments</h3>
    {% for c in comments %}
    <div>{{c.comment}} on post <a href="/{{c.bloglink}}">{{c.blogtitle}}</a> Edit | Delete</div>
    {% endfor %}

    <h3>Posts you've liked</h3>
    {% for l in likes %}
    <div><a href="/{{l.bloglink}}">{{l.blogtitle}}</a></div>
    {% endfor %}

</div>

{% endblock %}